h1{
    color: rgb(255, 60, 0);
}

.home_intro{
    text-align: center;
    border: 3px solid #320be2;
    padding: 20px;
    box-shadow: 0px 0px 10px 5px rgba(0,0,0,0.75);
}

.home_intro:hover{
    background-color: rgba(78,79,80,0.636);
}

.p2{
    color: blue;
}

#nav{
    display: flex;
    justify-content: center;
    gap: 10px;
    padding: 10px;
    border: 3px solid black;
    background-color: rgba(230,47,10,0.636);
}
button{
    width: 100px;
}

#nav a{
    text-decoration: none;
    margin: 10px;
}

/* User Card */

.card{
    text-align: center;
    margin-top: 20px;
    padding: 18px;
    text-align: center;
    background-color: #fff;
    border-radius: 12px;
    box-shadow: 0 6px 18px rgba(0,0,0,0.12);
    
}

.image{
    width: 300px;
    height: 300px;
    margin: auto;
}

.image img{
    width: 300px;
    height: 300px;
    border-radius: 10px;
}

.btn{
    padding: 10px 20px;
    border: none;
    background-color: #320be2;
    color: white;
    cursor: pointer;
    border-radius: 5px;
}

.btn:hover{
    background-color: #2407a5;
}